# ignore everything inside deb_files folder but don't ignore the folder itself
installation_files/*
!installation_files/.gitkeep

# ignore keyring files (as they will be created by the installation scripts)
*.gpg
